---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<h1 class="home--title">👋 I build accessible and performant user interfaces on the web.</h1>
<div class="home--content">
  <section class="home--content-item">
    {% set maxPosts = collections.posts.length | min(3) %}

    {% set postslist = collections.posts | head(-10) %}
    {% set postslistCounter = collections.posts | length %}
    {% include "postslist.njk" %}
  </section>
</div>
